@model trac_nghiem_project.Models.question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_create)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_create)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question_types.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question_types.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_question }) |
    @Html.ActionLink("Back to List", "Index")
</p>
