@model IEnumerable<trac_nghiem_project.Models.question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.answer_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.answer_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.answer_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.answer_4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_create)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question_types.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.avatar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.answer_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.answer_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.answer_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.answer_4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_create)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question_types.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_question }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_question }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_question })
        </td>
    </tr>
}

</table>
