@using trac_nghiem_project.Common

@{
    var session = (LoginSession)Session["login"];
    var user_name = "unknown";
    long right = 3;
    if (session != null)
    {
        user_name = session.name_of_user;
        right = (long)session.id_right;
    }


}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>@ViewBag.title</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">
    <link href="~/Assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/Assets/css/my_css/aboveAll.css" rel="stylesheet" />
    <style>
        html {
            min-height: 100%;
            position: relative;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

            .nav-scroller .nav {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }

        .myBox {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .myContainer {
            width: 100%;
            height: 100%;
            position: relative;
        }

        .stack-top {
            z-index: 9;
            /*margin: 20px;*/ /* for demo purpose  */
        }
    </style>


</head>
<body class="myContainer" style="background-color: #F8F9FA">
    <div class="myBox">
        <header>
            <div class="collapse bg-dark" id="navbarHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-7 py-4">
                            @*<h4 class="text-white">About</h4>*@
                            <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                        </div>
                        <div class="col-sm-4 offset-md-1 py-4">
                            @*<h4 class="text-white">Contact</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#" class="text-white">Follow on Twitter</a></li>
                                    <li><a href="#" class="text-white">Like on Facebook</a></li>
                                    <li><a href="#" class="text-white">Email me</a></li>
                                </ul>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container">
                    <div style="width: fit-content">
                        <a class="text-white btn p-0 border-0 rounded-0">
                            <i class="fa fa-bars text-white me-3" style="font-size:22px"></i>
                        </a>
                        @{
                            if (right == 1)
                            {
                                <a href="@Url.Action("Index", "Home", new {area="admin"})" class="text-white text-decoration-none">
                                    <strong>Home</strong>
                                </a>
                            }
                            else if (right == 2)
                            {
                                <a href="@Url.Action("Index","TeacherHome")" class="text-white text-decoration-none">
                                    <strong>Home</strong>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Index","StudentHome")" class="text-white text-decoration-none">
                                    <strong>Home</strong>
                                </a>
                            }
                        }
                    </div>
                    <div>
                        <span style="color:white">Xin chào <b>@user_name</b></span>
                        <a href="@Url.Action("Logout", "UserSession", new {area=""})"><img src="~/Images/log_out.png" width="30" height="30" style="filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(196deg) brightness(95%) contrast(80%);" /></a>
                    </div>
                </div>
            </div>
        </header>

        <main>
            @*@RenderBody()*@
            <div class="album py-5 bg-light">
                <div class="container">
                    <p class="text-uppercase mt-2 fw-bold" style="font-size:25px;">@ViewBag.Page</p>
                    @RenderBody()
                    @*@RenderSection("others",required:false)*@
                </div>
            </div>
        </main>

        @RenderSection("aboveAll", required: false)
    </div>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
